$primary-color-hex: #1D72B3;
$secondary-color-hex: #E78C02;
$paracolor: black;
$header-background-color: white;
$header-shadow: rgba(231, 140, 2, 0.6) 0px 0px 0px 2px, rgba(231, 140, 2, 0.8) 0px 0px 6px -1px;
$card-shadow: 5px 5px 11px rgba(0,0,0,0.3);
$btn-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
$text-font: 'Roboto', sans-serif;
$title-font: 'Nunito', sans-serif;
$textmarginmobile: 0.5rem;
$burger-transition: all 0.2s ease;
$mobilemenu-transition: transform 0.2s ease-in;