@import "variables";
@import "reset";
@import "mixins";
@import "keyframes";
@import "placeholders";
*:focus{
    &:focus{
        outline-offset: 4px;
        outline-color: $primary-color-hex;
}
}
a {
    text-decoration: none;
}
.fixed-position{
    overflow: hidden;
}

main{
    overflow: hidden;
}

.header {
    @include flexAlignJustify(center, space-between);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 12vh;
    background-color: $header-background-color;
    box-shadow: $header-shadow;
    z-index: 10;
    &__logowrapper{
        margin: $textmarginmobile;   
    }
    &__logo{
        width: 130px;
    }
    &__nav{
        @include flexDirectionAlignJustify(row-reverse, center, space-between);
        flex-basis: 30%;
        margin: $textmarginmobile;
        &__ul{
            @include flexDirectionAlignJustify(column, center, space-evenly);
            position: absolute;
            right: 0px;
            top: 12vh;
            height: 88vh;
            width: 60%;
            background-color: $header-background-color;
            transform: translateX(100%);
            transition: $mobilemenu-transition;
            
            &--effect{
                transform:translateX(0%);
            }
        }
        &__menueffect{
            position: absolute;
            left: 0px;
            top: 12vh;
            height: 88vh;
            width: 40%;
            background-color:rgba(29, 114, 179,0.7);
            transform: translateX(-100%);
            transition: $mobilemenu-transition;
            &--effect{
                transform: translateX(0%);
            }
        }
        &__list{
            opacity: 0;
        }
        &__link{
            @extend %title;
            color: $secondary-color-hex;
        }
        &__basketicon{
            font-size: 1.3rem;
            color: $primary-color-hex;
        }
    }
}

.burgericon{
    @include flexDirectionAlignJustify(column, center, center);
    cursor: pointer;
    &__line{
        width: 20px;
        height: 4px;
        background-color: $primary-color-hex;
        margin:1.5px;
        border-radius: 1rem;
        transition: $burger-transition;
    }
    &--toggle .burgericon__line1 {
        transform: rotate(-45deg) translate(-5px,5px);
    }
    &--toggle .burgericon__line2 {
        opacity: 0;
    }
    &--toggle .burgericon__line3 {
        transform: rotate(45deg) translate(-5px,-5px);
    }
}

.cta {
    position: relative;
    overflow: hidden;
    margin-top: 12.5vh;
    &__img{
        object-fit: cover;
        object-position: -200px;
    }
    &__container{
        @include flexDirectionAlignJustify(column, center, center);
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        &--style{
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
            margin: $textmarginmobile;
        }
    }
    &__title{
        @include flexAlignJustify(center, center);
        @extend %title;
        color: $primary-color-hex;
    }
    &__txt{
        @extend %para;
        flex-basis: 33%;
    }
    &__btn{
        margin: 2rem 0;
    }
}

.btn--style{
    @extend %btn;
}

.cardwrapper{
    margin-top: 1rem;
    &__grid{
        display: grid;
        row-gap: 1rem;
    }
}

.card{
    box-shadow: $card-shadow; 
    overflow:hidden;
    border-radius: 10px;
    &__flex{
        display: flex;
    }
    &__img{
        display: block;
        width: 145px;
        height: 145px;
        object-fit: cover;
        &--style3 {
            object-position: left;
        }
        &--style5 {
            object-position: left;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        width: 100%
    }
    &__title{
        @extend %title;
        color: $primary-color-hex;
        flex-basis: 10%;
    }
    &__desc{
        width: 150px;
        margin-left: $textmarginmobile;
        @extend %para;
        @extend %ellipsis;
        flex-basis: 80%
    }
    &__price{
        @include flexAlignJustify(flex-end, flex-end);
        margin: $textmarginmobile;
        @extend %price;
        flex-basis: 10%;
    }
}

.info{
    display: grid;
    row-gap: 1rem;
    margin:13vh 1rem 1rem 1rem; 
    box-shadow: $header-shadow;
    &__card{
        @include flexDirectionAlignJustify(column, center, center);
    }
    &__icon{
        font-size: 4rem;
        color: $primary-color-hex;
        margin:$textmarginmobile;
    }
    &__title{
        @extend %title;
        color: $secondary-color-hex;
    }
    &__txt{
        @extend %para;
    }
    &__star{
        color: $primary-color-hex;
    }
}

.product{
    @include flexDirectionAlignJustify(column, center, center);
    margin-top: 13vh;
    &__imgwrapper{
        margin-bottom: 1rem;
    }
    &__img{
        object-fit: cover;
        height: 300px;
        width: 100%;
    }
    &__title{
        @extend %title;
        color: $primary-color-hex;
    }
    &__desc{
        @extend %para;
        margin: $textmarginmobile;
        text-align: center;
    }
    &__price{
        @extend %price;
    }
    &__container{
        @include flexAlignJustify(center, center);
        margin: 2rem 0;
    }
    &__list--style{
        @extend %selectlist;
        margin: $textmarginmobile;
    }
    &__btn{
        margin: 1rem 0 3rem 0;
        border-style: none;
    }
}
.basket{
    @include flexDirectionAlignJustify(column, center, center);
    margin-top: 14vh;
}
.basket__product{
    margin-bottom: 1rem;
    box-shadow: $header-shadow;
    overflow: hidden;
    width: 97%;
    &__img{
        width: 145px;
        height: 145px;
        object-fit: cover;
    }
    &__title{
        @extend %title;
        color: $primary-color-hex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 117px;
    }  
    &__wrapper{
        display: flex;
        position: relative;
    }
    &__txtwrapper{
        @include flexDirectionAlignJustify(column, flex-start, space-between);
        width: 100%;      
    }
    &--txt{
        @extend %para;
    }
    &__quantitywrapper{
        @include flexAlignJustify(center, center);
    }
    &__quantity{
        width: 20px;
    }
    &__times{
        position: absolute;
        color: $secondary-color-hex;
        right: 0;
        font-size: 1.2rem;
        box-shadow: $header-shadow;
        padding: 0.2rem;
    }
    &__price{
        color: $secondary-color-hex;
        align-self: flex-end;
        @extend %price;
    }
}
.basket__empty{
    @include flexAlignJustify(center, center);
    @extend %title;
    margin: 0;
    margin-top: 14vh;
    height: 80vh;
    width: 100%;
    color: $secondary-color-hex;
    
}
.total{
    @include flexAlignJustify(center, space-between);
    margin: $textmarginmobile;
    &__title{
        @extend %title;
        color: $primary-color-hex;
    }
    &__txt{
        @extend %price;
        color: $secondary-color-hex;
    }
}

.confirm{
    margin-top: 13vh;
}

.footer{
    background-color: $secondary-color-hex;
    height: 20rem;
}